html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}
* {
	box-sizing: inherit;
  }
.TrangChu{
	background-image: url(../images/banner.jpg);
	width:100%;
	min-height:700px;
	background-attachment:fixed;
	background-size:cover;
}
.menu {	
	font-family:'Open Sans',sans-serif;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
}
.navbar.navbar-inverse.navbar-static-top a {
	color:#fff;
	padding:31px 16px;
	line-height:5px;
	
}
.banner {
	margin-top:0;
}
.w3-container.w3-center.w3-animate-zoom{
	font-family: 'Lobster', cursive;
	padding: 50px;	
	font-size:60px;
	font-weight: 0px;
	color:#fff;
}


.logo{
	width:20%;
}
.heading {
    padding-bottom: 50px;
    text-align: center;
    max-width: 960px;
    margin: 0px auto;
    padding-top: 40px;
}

.heading h2 {
	font-weight:700;
	font-family:'Playball',cursive;
	font-size:40px;
	color:#333;
	margin:0;
	padding:5px;
}

.heading h2::first-letter {
	color:#cc580c;
}

.heading b {	
	font-size:17px;
	line-height:2;
}
/* App */
.App{
	background-image:url(../images/app.jpg) ;
	width: 100%;
	padding-bottom: 50px;
	padding-top: 20px;
	background-size:cover;
}

.App_content{
    margin: 100px 0px;
    color: #fff;
    overflow: hidden;
}

.App_text h2{
	font-weight:700;
	font-size:30px;
	display:block;
	padding-bottom: 20px;
}

.App_text h3 {
	font-weight:500;
}

.App_text a{
	margin-top:100px;
	margin-left:10px;
	display:inline-block;
}
.App_text a img{
	max-width:90%;
}
.borderStar{
	width:30%;
	size:auto;
	margin-right:auto;
	margin-left:auto;
}

/*Form Liên Hệ */
.LienHe{
	background-image: url(../images/banner.jpg);
	background-size: cover;
}
.headingLH{
    padding-bottom: 50px;
    text-align: center;
    max-width: auto;
    margin: 0px auto;
    padding-top: 40px;
}

.headingLH h2 {
	font-weight:700;
	font-family:'Playball',cursive;
	font-size:40px;
	color:#f0f0f0;
	margin:0;
	padding:5px;
}
.headingLH h2::first-letter {
	color:#cc580c;
}
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 35px;
    max-width: 60%;
}
.form-group {
	 color:#f0f0f0; 
}
.containerForm{
	margin-left: 16%;
}
.LienHe{
	padding-bottom: 60px;
	padding-top:50px;
}
.LienHe h3{    	
}
.col-sm-offset-2.col-sm-10 {
	padding-left: 18%;
}


/* Thông tin ( Địa Chỉ + Time ) .............. */
 .ok {
	 background-color: black ;	
 }
 
.ok_content {
	color:#fff;
	text-align:right;
}

.ThongTin {
	padding-bottom: 20px;
	padding-top:20px;
	font-family:'Playball',cursive;
	font-size: 22px;
}
.ThongTin h3 {
	font-size: 30px;
}
.info {
	margin-top:10px;
	text-align: center;
	
}

.info p span {
	display:block;
	
}

.footer_socail_icon a{
	padding:10px;
	
}
.footer_socail_icon a i{
	font-size:20px;
	color:#e7a331;
}




/* Thực đơn -> cà phê , trà sữa, sinh tố, trà */
.drink_text img {
	width: 100%;
	display: block;
}
.drink_text{
	display:inline-block;
	padding:20px;
	position:relative;
	overflow:hidden;
	cursor:pointer;
}
.drink_content{
	padding-bottom:120px;
	display:inline-block;
}
.drink_content figcaption {
	background:#333;
	padding: 10px;
}
.drink_images h3 {	
	color:#fff;
	font-size:17px;
	font-weight:300	;
}
.drink {
	margin-left: 0px;
}
.drink_text h3{
	font-family:'Playball',cursive;
	font-size: 25px;
}


@media all and (max-width: 1440px) {

}
@media all and (max-width: 1024px) {

}	
@media all and (max-width: 900px) {

}
@media all and (max-width: 768px) {

}
@media all and (max-width: 680px) {

}
@media all and (max-width: 620px) {

}
@media all and (max-width: 600px) {

}
@media all and (max-width: 500px) {
	
}
@media all and (max-width: 425px) {
	.w3-container.w3-center.w3-animate-zoom{
		font-size:35px;
	}
	.logo{
	width:30%;
	}
	.form-control {
    font-size: 14px;
    max-width: 80%;
}
}
@media all and (max-width: 320px) {
	.w3-container.w3-center.w3-animate-zoom{
		font-size:25px;
	}
}
/* video */
.container__trailer-video {
	width: 100%;
	display: flex;
	justify-content: center;
  }

/* images */
.map__img:hover {
	transform: scale(1.04, 1.04);
  }
  
.map__img {
	transform: scale(1.001, 1.001);
	object-fit: cover;
	z-index: 0;
	margin: 0;
	width: 330px;
	height: 300px;
	transition: all 0.8s ease-out;
	display: block;
	
  }  
/* .resize{
	height: 300px;
	width: 300px;
} */
.container__map-category {
	z-index: 1;
	height: 40px;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 150px;
	display: flex;
	color: #fff;
	background-color: var(--blue-color);
  }

.map-top {
	margin-left: -10px !important;
	margin-right: -10px !important;
	display: flex;	
  }
.container__map-item {
	flex-shrink: 0;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 5px 8px 13.92px 2.08px rgb(0 0 0 / 5%);
  }
:root {
	--text-color: #5e5e5e;
	--bold-color: #212121;
	--blue-color: #3fd0d4;
  }
.container__map{
	display: block;
	padding-left: 45px;
	padding-bottom: 20px;
	
}
.container__map1{
	display: block;
	padding-left: 45px;
	padding-bottom: 30px;
}

/* title ảnh 2020 */


.lec_content img {
	max-width: 100%;
}		
			
.lec_title_animation span {
	opacity: 0;
}
			
.lec_section[data-animation="active"] .lec_title_animation span,
.lec_slider:hover .lec_title_animation span,
.lec_news_block:hover .lec_title_animation span {
	transform:translateX(0) translateY(0);
	opacity: 1;
}
		
.lec_title_animation span {
	position: relative;
	-webkit-transition: all 1.4s cubic-bezier(0.2, 0.2, 0, 1) 0s;
	-o-transition: all 1.4s cubic-bezier(0.2, 0.2, 0, 1) 0s;
	transition: all 1.4s cubic-bezier(0.2, 0.2, 0, 1) 0s;
}
.lec_title_animation span:nth-child(1) {
	transform:translateX(-100px) translateY(-175px);
	transition-delay: 0s;
}
.lec_title_animation span:nth-child(2) {
	transform:translateX(130px) translateY(65px);
	transition-delay: 25ms;
}
.lec_title_animation span:nth-child(3) {
	transform:translateX(-30px) translateY(-80px);
	transition-delay: 50ms;
}
.lec_title_animation span:nth-child(4) {
	transform:translateX(-170px) translateY(150px);
	transition-delay: 75ms;
}
.lec_title_animation span:nth-child(5) {
	transform:translateX(330px) translateY(180px);
	transition-delay: 100ms;
}
.lec_title_animation span:nth-child(6) {
	transform:translateX(280px) translateY(340px);
	transition-delay: 125ms;
}
.lec_title_animation span:nth-child(7) {
	transform:translateX(-170px) translateY(-240px);
	transition-delay: 150ms;
}
.lec_title_animation span:nth-child(8) {
	transform:translateX(420px) translateY(280px);
	transition-delay: 175ms;
}
.lec_title_animation span:nth-child(9) {
	transform:translateX(520px) translateY(-190px);
	transition-delay: 200ms;
}
.lec_title_animation span:nth-child(10) {
	transform:translateX(520px) translateY(-190px);
	transition-delay: 200ms;
}
.lec_title_animation span:nth-child(11) {
	transform:translateX(-320px) translateY(-290px);
	transition-delay: 200ms;
}
.lec_title_animation span:nth-child(12) {
	transform:translateX(720px) translateY(-390px);
	transition-delay: 200ms;
}
.lec_title_animation span:nth-child(13) {
	transform:translateX(120px) translateY(140px);
	transition-delay: 200ms;
}
.lec_title_animation span:nth-child(14) {
	transform:translateX(320px) translateY(290px);
	transition-delay: 200ms;
}
.lec_title_animation span:nth-child(15) {
	transform:translateX(520px) translateY(190px);
	transition-delay: 200ms;
}
.lec_title_animation span:nth-child(16) {
	transform:translateX(120px) translateY(-290px);
	transition-delay: 200ms;
}
.lec_title_animation span:nth-child(17) {
	transform:translateX(320px) translateY(490px);
	transition-delay: 200ms;
}
.lec_title_animation span:nth-child(18) {
	transform:translateX(320px) translateY(-100px);
	transition-delay: 200ms;
}
.lec_title_animation span:nth-child(19) {
	transform:translateX(120px) translateY(290px);
	transition-delay: 200ms;
}
.lec_title_animation span:nth-child(20) {
	transform:translateX(420px) translateY(-90px);
	transition-delay: 200ms;
}
.lec_title_animation span:nth-child(9) {
	transform:translateX(160px) translateY(-130px);
	transition-delay: 200ms;
}

.lec_gold span {
	display: inline-block;
	text-indent: -10000px;
	background-image: url("http://lecker.maskandesign.com/wp_index/css/../images/selima_gold_mini.png");
	margin-left: -7px;	
}

.lec_letter_ {
	width: 30px;
}

/*Numbers Let*/

.lec_gold .lec_letter_1 {
	height: 75px;
	width: 32px;
	background-position: -1646px -15px;
	margin-right:10px;
}
.lec_gold .lec_letter_2 {
	height: 75px;
	width: 29px;
	background-position: -1698px -15px;
	margin-right:10px;
}
.lec_gold .lec_letter_3 {
	height: 75px;
	width: 27px;
	background-position: -1750px -15px;
	margin-right:10px;	
}
.lec_gold .lec_letter_4 {
	height: 75px;
	width: 27px;
	background-position: -1801px -15px;
	margin-right:10px;
}
.lec_gold .lec_letter_5 {
	height: 75px;
	width: 35px;
	background-position: -1852px -15px;
	margin-right:10px;
}
.lec_gold .lec_letter_6 {
	height: 75px;
	width: 32px;
	background-position: -1908px -15px;
	margin-right:10px;	
}
.lec_gold .lec_letter_7 {
	height: 75px;
	width: 35px;
	background-position: -1963px -15px;
	margin-right:5px;
}
.lec_gold .lec_letter_8 {
	height: 75px;
	width: 32px;
	background-position: -2016px -15px;
	margin-right:10px;	
}
.lec_gold .lec_letter_9 {
	height: 75px;
	width: 35px;
	background-position: -2069px -15px;
	margin-right:10px;
}
.lec_gold .lec_letter_0 {
	height: 75px;
	width: 33px;
	background-position: -2125px -15px;
	margin-right:10px;
}

/*Cap Let*/
.lec_gold .lec_letter_A {
	width: 48px;
	height: 74px;
	background-position: -8px -90px;	
}
.lec_gold .lec_letter_B {
	width: 61px;
	height: 74px;
	background-position: -73px -90px;	
	margin-right: 4px;	
}
.lec_gold .lec_letter_C {
	width: 38px;
	height: 74px;
	background-position: -154px -90px;
	margin-right: 3px;	
}
.lec_gold .lec_letter_D {
	width: 57px;
	height: 74px;
	background-position: -223px -90px;
	margin-right: -2px;	
}
.lec_gold .lec_letter_E {
	width: 39px;
	height: 74px;
	background-position: -299px -90px;	
}
.lec_gold .lec_letter_F {
	width: 55px;
	height: 74px;
	background-position: -370px -90px;
	margin-right: -10px;		
}
.lec_gold .lec_letter_G {
	width: 47px;
	height: 73px;
	background-position: -439px -90px;	
}
.lec_gold .lec_letter_H {
	width: 52px;
	height: 74px;
	background-position: -517px -90px;	
}
.lec_gold .lec_letter_I {
	width: 38px;
	height: 74px;
	background-position: -582px -90px;	
}
.lec_gold .lec_letter_J {
	width: 42px;
	height: 74px;
	background-position: -638px -90px;	
}
.lec_gold .lec_letter_K {
	width: 51px;
	height: 74px;
	background-position: -710px -90px;	
}
.lec_gold .lec_letter_L {
	width: 36px;
	height: 74px;
	background-position: -783px -90px;	
}
.lec_gold .lec_letter_M {
	width: 62px;
	height: 74px;
	background-position: -836px -90px;	
}
.lec_gold .lec_letter_N {
	width: 56px;
	height: 74px;
	background-position: -927px -90px;	
}
.lec_gold .lec_letter_O {
	width: 39px;
	height: 74px;
	background-position: -1021px -90px;
	margin-right: 4px;	
}
.lec_gold .lec_letter_P {
	width: 63px;
	height: 74px;
	background-position: -1087px -90px;
	margin-right: -9px;	
}
.lec_gold .lec_letter_Q {
	width: 57px;
	height: 74px;
	background-position: -1160px -88px;	
}
.lec_gold .lec_letter_R {
	width: 54px;
	height: 74px;
	background-position: -1252px -90px;	
}
.lec_gold .lec_letter_S {
	width: 44px;
	height: 74px;
	background-position: -1326px -90px;
	margin-right: -4px;		
}
.lec_gold .lec_letter_T {
	width: 44px;
	height: 74px;
	background-position: -1401px -89px;
	margin-right: -5px;	
}
.lec_gold .lec_letter_U {
	width: 52px;
	height: 74px;
	background-position: -1469px -90px;	
}
.lec_gold .lec_letter_V {
	width: 53px;
	height: 74px;
	background-position: -1544px -90px;	
	margin-right: -10px;	
}
.lec_gold .lec_letter_W {
	width: 58px;
	height: 74px;
	background-position: -1614px -90px;	
}
.lec_gold .lec_letter_X {
	width: 51px;
	height: 74px;
	background-position: -1695px -90px;	
}
.lec_gold .lec_letter_Y {
	width: 50px;
	height: 74px;
	background-position: -1771px -90px;	
}
.lec_gold .lec_letter_Z {
	width: 55px;
	height: 74px;
	background-position: -1843px -90px;	
}

/*SmallCap Let*/
.lec_gold .lec_letter_a {
	width: 34px;
	height: 90px;
	background-position: 0 0;	
}
.lec_gold .lec_letter_b {
	width: 36px;
	height: 90px;
	background-position: -53px 0;
	margin-left: -3px;	
}
.lec_gold .lec_letter_c {
	width: 34px;
	height: 90px;
	background-position: -124px 0;	
}
.lec_gold .lec_letter_d {
	width: 48px;
	height: 90px;
	background-position: -178px 0;	
}
.lec_gold .lec_letter_e {
	width: 35px;
	height: 90px;
	background-position: -249px 0;	
}
.lec_gold .lec_letter_f {
	width: 38px;
	height: 90px;
	background-position: -299px 0;	
}
.lec_gold .lec_letter_g {
	width: 44px;
	height: 90px;
	background-position: -354px 0;	
}
.lec_gold .lec_letter_h {
	width: 47px;
	height: 90px;
	background-position: -429px 0;
	margin-left: -10px;	
}
.lec_gold .lec_letter_i {
	width: 26px;
	height: 90px;
	background-position: -503px 0;	
}
.lec_gold .lec_letter_j {
	width: 45px;
	height: 90px;
	background-position: -538px 0;
	margin-left: -22px;	
}
.lec_gold .lec_letter_k {
	width: 44px;
	height: 90px;
	background-position: -611px 0;	
}
.lec_gold .lec_letter_l {
	width: 33px;
	height: 90px;
	background-position: -682px 0;	
}
.lec_gold .lec_letter_m {
	width: 59px;
	height: 90px;
	background-position: -736px 0;	
}
.lec_gold .lec_letter_n {
	width: 52px;
	height: 90px;
	background-position: -823px 0;	
}
.lec_gold .lec_letter_o {
	width: 33px;
	height: 90px;
	background-position: -897px 0;	
}
.lec_gold .lec_letter_p {
	width: 44px;
	height: 90px;
	background-position: -949px 0;	
}
.lec_gold .lec_letter_q {
	width: 37px;
	height: 90px;
	background-position: -1025px 0;	
}
.lec_gold .lec_letter_r {
	width: 28px;
	height: 90px;
	background-position: -1098px 0;	
	margin-right: 4px;
}
.lec_gold .lec_letter_s {
	width: 32px;
	height: 90px;
	background-position: -1147px 0;
	margin-left: -5px;	
}
.lec_gold .lec_letter_t {
	width: 33px;
	height: 89px;
	background-position: -1204px 0;	
}
.lec_gold .lec_letter_u {
	width: 40px;
	height: 90px;
	background-position: -1259px 0;	
}
.lec_gold .lec_letter_v {
	width: 37px;
	height: 90px;
	background-position: -1330px 0;
}
.lec_gold .lec_letter_w {
	width: 40px;
	height: 90px;
	background-position: -1404px 0;	
}
.lec_gold .lec_letter_x {
	width: 32px;
	height: 90px;
	background-position: -1469px 0;	
	margin-left:-15px;
	margin-right: 8px;
}
.lec_gold .lec_letter_y {
	width: 58px;
	height: 90px;
	background-position: -1515px 0;
	margin-left: -15px;
}
.lec_gold .lec_letter_z {
	width: 37px;
	height: 90px;
	background-position: -1595px 0;
	margin-left: -10px;
}

/*Big Gold*/
/*Cap Let*/
.lec_gold_big .lec_letter_A {
	width: 96px;
	height: 148px;
	background-position: -16px -180px;	
}
.lec_gold_big .lec_letter_B {
	width: 122px;
	height: 148px;
	background-position: -146px -180px;	
	margin-right: 4px;	
}
.lec_gold_big .lec_letter_C {
	width: 76px;
	height: 148px;
	background-position: -308px -180px;
	margin-right: 6px;	
}
.lec_gold_big .lec_letter_D {
	width: 114px;
	height: 148px;
	background-position: -446px -180px;
	margin-right: -4px;	
}
.lec_gold_big .lec_letter_E {
	width: 78px;
	height: 148px;
	background-position: -588px -180px;	
}
.lec_gold_big .lec_letter_F {
	width: 110px;
	height: 148px;
	background-position: -740px -180px;
	margin-right: -20px;		
}
.lec_gold_big .lec_letter_G {
	width: 94px;
	height: 148px;
	background-position: -878px -180px;	
}
.lec_gold_big .lec_letter_H {
	width: 104px;
	height: 148px;
	background-position: -1032px -180px;	
}
.lec_gold_big .lec_letter_I {
	width: 76px;
	height: 148px;
	background-position: -1164px -180px;	
}
.lec_gold_big .lec_letter_J {
	width: 84px;
	height: 148px;
	background-position: -1276px -180px;	
}
.lec_gold_big .lec_letter_K {
	width: 102px;
	height: 148px;
	background-position: -1420px -180px;	
}
.lec_gold_big .lec_letter_L {
	width: 78px;
	height: 148px;
	background-position: -1566px -180px;	
}
.lec_gold_big .lec_letter_M {
	width: 124px;
	height: 148px;
	background-position: -1672px -180px;	
}
.lec_gold_big .lec_letter_N {
	width: 112px;
	height: 148px;
	background-position: -1854px -180px;	
}
.lec_gold_big .lec_letter_O {
	width: 78px;
	height: 148px;
	background-position: -2042px -180px;
	margin-right: 8px;	
}
.lec_gold_big .lec_letter_P {
	width: 126px;
	height: 148px;
	background-position: -2174px -180px;
	margin-right: -18px;	
}
.lec_gold_big .lec_letter_Q {
	width: 114px;
	height: 148px;
	background-position: -2320px -176px;	
}
.lec_gold_big .lec_letter_R {
	width: 108px;
	height: 148px;
	background-position: -2504px -180px;	
}
.lec_gold_big .lec_letter_S {
	width: 88px;
	height: 148px;
	background-position: -2652px -180px;
	margin-right: -4px;		
}

.lec_gold_big .lec_letter_T {
	width: 88px;
	height: 148px;
	background-position: -2802px -178px;
	margin-right: -10px;	
}
.lec_gold_big .lec_letter_U {
	width: 104px;
	height: 148px;
	background-position: -2938px -180px;	
}
.lec_gold_big .lec_letter_V {
	width: 106px;
	height: 148px;
	background-position: -3088px -180px;	
	margin-right: -20px;	
}
.lec_gold_big .lec_letter_W {
	width: 116px;
	height: 148px;
	background-position: -3228px -180px;	
}
.lec_gold_big .lec_letter_X {
	width: 102px;
	height: 148px;
	background-position: -3390px -180px;	
}
.lec_gold_big .lec_letter_Y {
	width: 100px;
	height: 148px;
	background-position: -3542px -180px;	
}
.lec_gold_big .lec_letter_Z {
	width: 110px;
	height: 148px;
	background-position: -3686px -180px;	
}

/*SmallCap Let*/
.lec_gold_big .lec_letter_a {
	width: 68px;
	height: 180px;
	background-position: 0 0;	
}
.lec_gold_big .lec_letter_b {
	width: 72px;
	height: 180px;
	background-position: -106px 0;
	margin-left: -6px;	
}
.lec_gold_big .lec_letter_c {
	width: 68px;
	height: 180px;
	background-position: -248px 0;	
}
.lec_gold_big .lec_letter_d {
	width: 96px;
	height: 180px;
	background-position: -356px 0;	
}
.lec_gold_big .lec_letter_e {
	width: 70px;
	height: 180px;
	background-position: -498px 0;	
}
.lec_gold_big .lec_letter_f {
	width: 76px;
	height: 180px;
	background-position: -598px 0;	
}
.lec_gold_big .lec_letter_g {
	width: 88px;
	height: 180px;
	background-position: -708px 0;	
}
.lec_gold_big .lec_letter_h {
	width: 94px;
	height: 180px;
	background-position: -858px 0;
	margin-left: -20px;	
}
.lec_gold_big .lec_letter_i {
	width: 52px;
	height: 180px;
	background-position: -1006px 0;	
}
.lec_gold_big .lec_letter_j {
	width: 90px;
	height: 180px;
	background-position: -1076px 0;
	margin-left: -44px;	
}
.lec_gold_big .lec_letter_k {
	width: 88px;
	height: 180px;
	background-position: -1222px 0;	
}
.lec_gold_big .lec_letter_l {
	width: 66px;
	height: 180px;
	background-position: -1364px 0;	
}
.lec_gold_big .lec_letter_m {
	width: 118px;
	height: 180px;
	background-position: -1472px 0;	
}
.lec_gold_big .lec_letter_n {
	width: 104px;
	height: 180px;
	background-position: -1646px 0;	
}
.lec_gold_big .lec_letter_o {
	width: 66px;
	height: 180px;
	background-position: -1794px 0;	
}
.lec_gold_big .lec_letter_p {
	width: 88px;
	height: 180px;
	background-position: -2160px 0;	
}
.lec_gold_big .lec_letter_q {
	width: 74px;
	height: 180px;
	background-position: -2050px 0;	
}
.lec_gold_big .lec_letter_r {
	width: 56px;
	height: 180px;
	background-position: -2186px 0;	
}
.lec_gold_big .lec_letter_s {
	width: 64px;
	height: 180px;
	background-position: -2294px 0;
	margin-left: -10px;	
}
.lec_gold_big .lec_letter_t {
	width: 66px;
	height: 178px;
	background-position: -2408px 0;	
}
.lec_gold_big .lec_letter_u {
	width: 80px;
	height: 180px;
	background-position: -2518px 0;	
}
.lec_gold_big .lec_letter_v {
	width: 74px;
	height: 180px;
	background-position: -2660px 0;
}
.lec_gold_big .lec_letter_w {
	width: 80px;
	height: 180px;
	background-position: -2808px 0;	
}
.lec_gold_big .lec_letter_x {
	width: 64px;
	height: 180px;
	background-position: -2938px 0;	
}
.lec_gold_big .lec_letter_y {
	width: 116px;
	height: 180px;
	background-position: -3030px 0;
	margin-left: -30px;
}
.lec_gold_big .lec_letter_z {
	width: 74px;
	height: 180px;
	background-position: -3190px 0;
	margin-left: -20px;
}
	

.lec_news_block {
	text-align: left;
	display: block;
}
.lec_news_block.text-center {
	text-align: center;
}


.lec_news_block_prev .lec_title_animation {
		position: absolute;
		top: auto;
		bottom: 20px;
		left: 50%;
		transform:translateX(-50%);
		z-index: 2;
	}
 	
.lec_news_block_prev {
		margin-bottom: 35px!important;
		position: relative;
	}
	

@media (max-width:1024px){
.lec_gold {
	font:75px/85px selima;
}

.lec_section[data-animation="active"] .lec_title_animation span,
	.lec_slider .lec_title_animation span,
	.lec_news_block .lec_title_animation span {
		transform:translateX(0) translateY(0);
		opacity: 1;
	} }





